.multiplier {
  &__tick {
    display: inline-block;
    width: 6px;
    height: 12px;
    background-color: #e1e0e6;
    border-radius: 2px;
    margin-right: 2px;
    vertical-align: middle;

    &--active:nth-child(1) {
      background-color: #80d5a7;
    }

    &--active:nth-child(2) {
      background-color: #52bb82;
    }

    &--active:nth-child(3) {
      background-color: #2f9f63;
    }

    &--active:nth-child(4) {
      background-color: #168147;
    }

    &--active:nth-child(5) {
      background-color: #066331;
    }
  }
}
