@import "../variables.scss";

.select-ui {
  width: 100%;
}

.select-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 8px;

  .avatar {
    margin-right: 8px;
  }

  &:hover {
    background: $grey100;
  }
}

.dropdown-indicator {
  margin-right: 14px;
  width: 8px;
  height: 5px;
}
