@import "../variables.scss";

.heading {
  margin-bottom: 8px;
  color: $grey700;
  letter-spacing: -0.02em;

  &--primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }

  // 2XL
  &--large {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }

  // 3XL
  &--xlarge {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  // 4XL
  &--xxlarge {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }

  // 5XL
  &--xxxlarge {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
  }

  @include greys;
  @include weights;
}
