@import "../variables.scss";

.heading {
  margin-bottom: 8px;
  color: $grey700;

  &--primary {
    font-size: 21.88px;
    font-weight: 500;
  }

  &--large {
    font-size: 27.34px;
    font-weight: 500;
  }

  &--xlarge {
    font-size: 34.18px;
    font-weight: 400;
  }

  @include greys;
}
