@import "../variables.scss";

.bar {
  display: inline-flex;
  align-items: center;
  width: 65px;
  height: 16px;
  box-sizing: border-box;

  &--hasMarkerLabel {
    padding-top: 20px;
  }

  &--large {
    width: 100%;
    height: 16px;
    padding: 2px;
  }

  &__indicator {
    height: 100%;
    border: 1px solid $grey200;
    border-radius: 5px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    position: relative;

    &__progress {
      background: $grey400;
      border-radius: 3px;
      height: 100%;

      &--secondaryBar {
        background: $grey600;
        flex-grow: 1;
        margin-left: 2px;
      }
    }

    &--green &__progress {
      background: $green500;
    }

    &--purple &__progress {
      background: $purple600;
    }

    &__marker {
      position: absolute;
      top: 1px;
      right: 0;
      width: 2px;
      border-radius: 1px;
      background: $grey500;
      height: 85%;
    }

    &__markerLabel {
      position: absolute;
      bottom: calc(100% + 4px);
      transform: translateX(-50%);
      margin: 0;
    }
  }
}

.label.bar-label {
  margin: 0 5px 0 0;
  color: $grey600;
}
