@import "../variables.scss";

.bar {
  width: 65px;
  height: 12px;
  border: 1px solid $grey200;
  border-radius: 5px;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  flex-basis: 65px;
  position: relative;

  &__progress {
    background: $grey600;
    border-radius: 3px;
    height: 100%;

    &--secondaryBar {
      background: $grey300;
      flex-grow: 1;
      margin-left: 1px;
    }
  }

  &--green &__progress {
    background: #2f9f63;
  }

  &--purple &__progress {
    background: #8b7afd;
  }

  &__marker {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    border-radius: 1px;
    background: $grey500;
    height: 100%;
  }

  &--large {
    width: 210px;
    height: 16px;
    flex-basis: 210px;
  }
}

.bar-wrapper {
  display: flex;
  align-items: center;
}

.bar-label {
  margin: 0 5px 0 0;
}
