@import "../variables.scss";

.skeleton {
  display: block;
  overflow: hidden;
  position: relative;
  background-color: $grey100;

  &--rectangle {
    border-radius: 2px;
  }

  &--circle {
    border-radius: 100%;
  }

  @include bgGreys;
}
