@import "../variables.scss";

.skeleton {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: $grey100;
  align-items: center;
  justify-content: center;

  &--rectangle {
    border-radius: 6px;
  }

  &--circle {
    border-radius: 100%;
  }

  &--shimmer {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      animation: shimmer 2s infinite;
      content: "";
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }

  @include bgGreys;

  .inner {
    border-radius: 4px;
  }

  &--blue {
    background-color: $blue500;
    .inner {
      background-color: $blue300;
    }
  }

  &--red {
    background-color: $red500;
    .inner {
      background-color: $red200;
    }
  }

  &--green {
    background-color: $green500;
    .inner {
      background-color: $green300;
    }
  }
}
