@import "../variables.scss";

.MobileProgressList {
  $size: 44px;
  position: relative;
  display: inline-flex;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px;
  border: 2px solid $grey100;
  overflow: hidden;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.16);

  &__check {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-sizing: border-box;

    path {
      fill: white;
    }
  }

  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0 16px;

    .ProgressListItem--complete & {
      background-color: $green500;
      box-shadow: none;
      color: white;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: calc(100% + 4px);
      width: 24px;
      height: 2px;
      background-color: $grey300;
      border-radius: 2px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type:after {
      display: none;
    }

    &--complete {
      background-color: $green500;
      color: white;
      box-shadow: none;

      &:after {
        background-color: $green500;
      }
    }
  }
}
