@import "../variables.scss";

.text {
  color: $grey500;
  margin-bottom: 8px;
  line-height: 20px;

  &--primary {
    font-size: 14px;
  }

  &--large {
    color: #1e1c22;
    font-size: 17.5px;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  @include greys;
}
