@import "../variables.scss";

.text {
  color: $grey500;
  margin-bottom: 8px;
  line-height: 24px;
  letter-spacing: -0.02em;

  &--primary {
    font-size: 16px;
  }

  &--large {
    font-size: 18px;
    line-height: 28px;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  @include greys;
  @include colors;
  @include weights;
}
