@import "../variables.scss";

.modal {
  box-shadow: 0 14px 30px -16px #1e1c22;
  max-width: 420px;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__footer {
    background: $grey50;
    padding: 24px;

    .button--pill {
      background-color: $grey100;

      &:hover:enabled {
        background-color: $grey200;
      }

      &:active:enabled {
        background-color: $grey300;
      }
    }
  }

  &__title {
    width: 100%;
  }

  &.card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;

    &--small {
      max-width: 280px;
    }

    &--medium {
      max-width: 375px;
    }

    &--large {
      max-width: 600px;
    }

    @media screen and (max-width: 600px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 100% !important;
      max-height: 80vh;
    }
  }

  .card-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 24px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .heading {
      margin: 0;
    }
  }

  .closeButton {
    margin-left: auto;
    cursor: pointer;
    background: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $grey200;

    path {
      color: $grey500;
    }

    &:hover {
      background: $grey100;

      path {
        color: $grey700
      }
    }

    &:active {
      background: $grey200;

      path {
        color: $grey800;
      }
    }
  }

  .modalHeader {
    border-bottom: 1px solid $grey100;
    padding: 24px;
  }

  .closeWrapper {
    width: 69px;
  }

  .closeButton,
  .backButton {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
  }

  .backButton {
    padding: 4px 8px 4px 2px;

    svg {
      width: 10px;
      margin: 0;
    }
  }
}
