@import "../variables.scss";

.modal {
  box-shadow: 0px 14px 30px -16px #1e1c22;
  max-width: 420px;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__footer {
    background: $grey50;
    padding: 24px;

    .button--pill {
      background-color: $grey100;

      &:hover:enabled {
        background-color: $grey200;
      }

      &:active:enabled {
        background-color: $grey300;
      }
    }
  }

  &__title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 24px 0 24px;
  }

  &.card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;

    &--small {
      max-width: 280px;
    }

    &--medium {
      max-width: 375px;
    }

    &--large {
      max-width: 600px;
    }

    @media screen and (max-width: 600px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 100% !important;
      max-height: 80vh;
    }
  }

  .card-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 3px;
    padding-right: 3px;
    padding: 24px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .heading {
      margin: 0;
    }
  }

  .closeWrapper {
    margin-left: auto;
    cursor: pointer;

    & > svg > path {
      fill: $grey100;
    }

    &:hover > svg > path:nth-of-type(1) {
      stroke: $grey200;
    }

    &:active > svg > path:nth-of-type(1) {
      fill: $grey200;
    }

    & > svg > path:nth-of-type(2) {
      fill: $grey500;
    }
  }

  .modalHeader {
    border-bottom: 1px solid $grey100;
    padding: 24px;
  }

  .closeWrapper,
  .backButton {
    position: relative;
    z-index: 1;
  }

  .backButton {
    padding: 4px 8px 4px 2px;

    svg {
      transform: rotate(180deg);
      margin: 0;
    }
  }
}
