@import "../variables.scss";

.modal {
  box-shadow: 0px 14px 30px -16px #1e1c22;
  max-width: 400px;
  width: 100%;

  &.card {
    display: flex;
    position: relative;
    flex-direction: column;

    &--small {
      max-width: 280px;
    }

    &--medium {
      max-width: 362px;
    }

    @media screen and (max-width: 520px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 100% !important;
      max-height: 80vh;
    }
  }

  .card-body {
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .heading {
      margin: 0;
    }

    &__close {
      $size: 24px;
      cursor: pointer;
      display: block;
      position: relative;
      width: $size;
      height: $size;
      border-radius: 100%;
      border: 1px solid $grey200;
      background-color: $grey100;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 10px;
        border-radius: 2px;
        background: $grey400;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  @keyframes slide-in {
    100% {
      transform: translateX(0%);
    }
  }

  &--drawer {
    height: 100vh;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    transform: translateX(100%);
    animation: slide-in 0.5s forwards;

    .card-footer {
      position: absolute;
      bottom: 0;
      left: 24px;
      right: 24px;
      background-color: white;
    }

    & > .card-body {
      margin-bottom: 110px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
