@import "../variables.scss";

.modal {
  box-shadow: 0px 14px 30px -16px #1e1c22;

  &__content {
    padding: 20px 0;
  }

  &__header {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .heading {
      margin: 0;
    }

    &__close {
      $size: 24px;
      cursor: pointer;
      display: block;
      position: relative;
      width: $size;
      height: $size;
      border-radius: 100%;
      border: 1px solid $grey200;
      background-color: $grey100;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 10px;
        border-radius: 2px;
        background: $grey400;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
