@import "../variables.scss";

.modal {
  box-shadow: 0px 14px 30px -16px #1e1c22;
  max-width: 446px;
  width: 100%;

  &.card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;

    &--small {
      max-width: 280px;
    }

    &--medium {
      max-width: 362px;
    }

    &--large {
      max-width: 600px;
    }

    @media screen and (max-width: 600px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 100% !important;
      max-height: 80vh;
    }
  }

  .card-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 3px;
    padding-right: 3px;
    padding: 24px; 

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .heading {
      margin: 0;
    }
  }

  .closeWrapper > svg > path {
    fill: $grey100;
  }

  .closeWrapper > svg > path:nth-of-type(2) {
    fill: $grey500;
  }

  .modalHeaderWrapper {
    border-bottom: 1px solid $grey100;
    padding: 0 24px 24px 24px;
  }
}
