@import "../variables.scss";

.control {
  $size: 16px;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $grey300;
  background: white;
  border-radius: 4px;
  position: relative;

  &--checked,
  &--indeterminate {
    background: $blue500;
    border: 2px solid $blue200;
  }

  &--disabled {
    opacity: 0.45;
  }

  &--radio {
    border-radius: 100%;

    &:after {
      $size: $size * 0.5;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: $size;
      height: $size;
      border-radius: 100%;
      background: white;
    }
  }

  svg {
    width: 65%;
  }
}

.control-wrapper {
  display: flex;
  align-items: center;
  cursor: default;

  &:hover .control--checked:not(.control--disabled) {
    opacity: 0.8;
  }
}

.control-label {
  margin: 0 0 0 6px;
}
