@import "../variables";

@media screen and (max-width: $breakpoint-mobile) {
  .SegmentedControl.SegmentedControl--responsive-3 {
    .SegmentedControl__item,
    .SegmentedControl__item--slider {
      height: 42px;
      padding: 6px 10px;
    }
    .SegmentedControl__item--slider {
      width: calc(33.3333%) !important;
    }
    .SegmentedControl__item {
      margin: 0;
      font-size: 13px;

      svg {
        max-width: 14px;
        max-height: 14px;
        margin-right: 4px;
      }
    }
  }
}

.SegmentedControl {
  background: $grey100;
  padding: 4px 0 4px 4px;
  box-sizing: border-box;
  position: relative;

  &--fluid {
    width: 100%;
  }

  &--variant {
    &-squared {
      border-radius: 12px;

      .SegmentedControl__item,
      .SegmentedControl__item--slider {
        border-radius: 8px;
      }
    }

    &-rounded {
      border-radius: 36px;

      .SegmentedControl__item,
      .SegmentedControl__item--slider {
        border-radius: 28px;
      }
    }
  }

  &--size {
    &-regular {
      .SegmentedControl__item {
        font-size: 14px;
        line-height: 20px;
        padding: 9px 21px;

        svg {
          margin-right: 6px;
          max-width: 16px;
          max-height: 16px;
        }

        &--slider {
          height: 40px;
        }
      }
    }
    &-large {
      .SegmentedControl__item {
        font-size: 18px;
        line-height: 28px;
        padding: 13px 48px;

        svg {
          margin-right: 9px;
          max-width: 20px;
          max-height: 20px;
        }

        &--slider {
          height: 56px;
        }
      }
    }
  }

  &__wrap {
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin-right: -4px;
  }

  &__item {
    margin: 0 4px 0 0;
    background: transparent;
    transition: left 200ms cubic-bezier(.48,1.46,.91,.94);
    font-weight: 500;
    font-family: inherit;
    color: $grey600;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    svg {
      width: 100px;
    }

    &--active {
      color: $grey800;
    }

    &--slider {
      margin: 0;
      position: absolute;
      top: 0;
      background: #ffffff;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    }

    &:not(.SegmentedControl__item--disabled):not(.SegmentedControl__item--active):hover {
      @media screen and (min-width: $breakpoint-mobile) {
        background: $grey200;
      }
    }

    &[disabled],
    &[disabled="true"] {
      color: $grey400;
    }
  }
}
