@import "../variables.scss";

.steps {
  $dotSize: 4px;

  a {
    text-decoration: none;
    display: flex;

    svg {
      display: none;
      width: 24px;
      margin-left: 4px;
    }

    &:hover svg {
      display: block;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 8px;
    padding-left: 12px;

    &:before {
      $width: 2px;
      content: "";
      position: absolute;
      left: $dotSize / 2 - ($width / 2);
      top: 10px;
      height: 100%;
      width: $width;
      border-radius: 4px;
      background-color: $grey300;
    }

    &:first-of-type:before {
      top: 13px;
      height: calc(100% - 3px);
    }

    &:last-of-type:before {
      display: none;
    }

    .text#{&}__title {
      color: $grey700;
      margin: 0;
    }

    .text#{&}__subTitle {
      color: #8e8b9a;
      margin: 0;
    }

    &__dot {
      width: $dotSize;
      height: $dotSize;
      border-radius: 100%;
      background-color: $grey500;
      position: absolute;
      left: 0;
      top: 8px;

      .steps__item:last-of-type &--blue {
        background-color: $blue600;
        border: 2px solid $blue200;
        left: -2px;
      }

      .steps__item:last-of-type &--green {
        background-color: $green600;
        border: 2px solid $green200;
        left: -2px;
      }

      .steps__item:last-of-type &--red {
        background-color: $red600;
        border: 2px solid $red100;
        left: -2px;
      }

      .steps__item:last-of-type &--purple {
        background-color: $purple600;
        border: 2px solid $purple100;
        left: -2px;
      }
    }
  }
}
