@import "../variables.scss";

.progressBar {
  height: 48px;
  width: 100%;
  background: $blue500;
  border-radius: 10px;
  align-items: center;
  padding: 4px;
  position: relative;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: $blue400;
    overflow: hidden;
    align-items: center;
    display: flex;
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: linear-gradient(270deg, #eff6ff 0%, #bfdbfe 100%);
  }

  &__completeLabel {
    display: flex;
    z-index: 99;
    left: 14px;
    position: relative;
    color: $green900;
    font-size: 14px;
    line-height: 20px;
    align-items: center;

    svg {
      margin-right: 4px;

      path {
        fill: $green900;
      }
    }
  }

  &--complete {
    background: $green500;

    .progressBar__progress {
      background: $green400;
    }
  }

  &--noProgress {
    background: $grey200;

    .progressBar__inner {
      background: $grey50;
    }
  }
}
