.IconBadgeRow {
  display: inline-flex;
  white-space: nowrap;
  position: relative;

  &:not(.IconBadgeRow--reverse) {
    flex-direction: row !important;

    .IconBadge:not(:first-child) {
      margin-left: -15%;
    }
  }

  &.IconBadgeRow--reverse {
    justify-content: flex-end !important;
    flex-direction: row-reverse !important;

    .IconBadge:not(:last-child) {
      margin-left: -15%;
    }
  }
}