@import "../variables.scss";

.card {
  $border: 1px solid $grey100;
  border: $border;
  background: #ffffff;
  border-radius: 20px;
  padding: 0 24px;
  box-sizing: border-box;
  width: 100%;
  max-width: 446px;
  margin: 0 auto;

  &--small {
    max-width: 280px;
    padding: 0 16px;
  }

  &--medium {
    max-width: 362px;
  }

  &--large {
    &--bordered {
      border: 2px solid $blue500;
    }
    max-width: 600px;
  }

  &--fluid {
    max-width: 100%;
  }

  &--noGutter {
    padding: 0;
  }

  &--packed {
    padding: 0 16px;
    border-radius: 16px;
    .card-body {
      padding: 16px 0;
    }
  }

  &--blue {
    background: $blue50;
    border-color: $blue100;
    color: $blue500;
    .text,
    .heading,
    .label {
      color: inherit;
    }

    &.card--bordered {
      border-color: $blue500;
      box-shadow: 0 0 0 1px $blue500;
    }
  }

  .grid--bordered {
    .grid-row:not(:last-of-type) {
      border-bottom: $border;
    }

    .grid-col {
      padding-top: 20px !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding-bottom: 20px !important;

      &:not(:last-of-type) {
        box-sizing: border-box;
        border-right: $border;
      }
    }
  }
}

.card-header {
  padding: 24px 0 0 0;
  display: flex;

  &__content {
    flex: 1 1 0;
  }

  .heading {
    margin: 0;
  }

  @include textalign;
}

.card-body {
  padding: 24px 0;
}
