@import "../variables.scss";

.card {
  $border: 1px solid $grey200;
  border: $border;
  background: #ffffff;
  border-radius: 12px;
  padding: 0 24px;
  box-sizing: border-box;

  &--small {
    width: 280px;
  }

  &--fluid {
    width: 100%;
  }

  &--noGutter {
    padding: 0;
  }

  &--packed {
    padding: 0 16px;
  }

  .grid--bordered {
    .grid-row:not(:last-of-type) {
      border-bottom: $border;
    }

    .grid-col {
      padding-top: 20px !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding-bottom: 20px !important;

      &:not(:last-of-type) {
        box-sizing: border-box;
        border-right: $border;
      }
    }
  }
}

.card-header {
  padding: 20px 0 16px;
  border-bottom: 1px solid $grey200;

  .heading {
    margin: 0;
  }
}

.card-body {
  padding: 20px 0;

  .card--packed & {
    padding: 12px 0;
  }
}
