.card {
  border: 1px solid #e1e0e6;
  background: #ffffff;
  border-radius: 12px;
  padding: 0 24px;
  box-sizing: border-box;

  &--small {
    width: 280px;
  }
}

.card-header {
  padding: 20px 0 16px;
  border-bottom: 1px solid #e1e0e6;

  .heading {
    margin: 0;
  }
}

.card-body {
  padding: 20px 0;
}
