.grid {
  width: 100%;

  &.grid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .grid-col {
    display: flex;
    flex-direction: column;
  }

  &.grid .grid-col.grid-col--noPadding {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
}
