@import "../variables.scss";

.network-indicator {
  &__indicator {
    width: 6px;
    height: 6px;
    background-color: $grey300;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-right: 4px;
    border-radius: 100%;

    &--137 {
      background-color: #7b43d9;
    }

    &--1 {
      background-color: #2f9f63;
    }

    &--42 {
      background-color: #6435c9;
    }
  }
}
