@import "../variables.scss";

.button-row {
  .button {
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &.box--direction-vertical .button {
    margin: 0 0 8px 0;
    width: 100%;
    .button:last-child {
      margin-bottom: 0;
    }
  }

  &--joined .button {
    margin: 0;

    &:not(:first-child) {
      border-left: 1px solid $grey200;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}