@import "../variables.scss";

.Notification {
  width: 288px;
  display: flex;
  border: 1px solid $grey100;
  box-shadow: 0 1px 1px rgba(58, 56, 66, 0.2),
    0 4px 8px rgba(58, 56, 66, 0.25);
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 12px;
  background: white;
  align-items: center;

  .label {
    margin-bottom: 0;
  }

  &__icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 12px;
    width: 24px;
    height: 24px;
    margin-top: 0.2em;
  }

  &__content {
    flex-grow: 1;
    color: $grey500;

    .text {
      margin-bottom: 4px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 0.5em;
    }

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .Notification__close {
      width: 24px;
      height: 24px;
      border: 1px solid #e7e5e4;
      padding: 5px;
      border-radius: 50%;
      box-sizing: border-box;

      &:hover {
        background: $grey100;
      }

      path {
        fill: $grey500;
      }
    }
  }
}
