@import "../variables.scss";

.notification {
  width: 288px;
  display: flex;
  border: 1px solid $grey100;
  box-shadow: 0px 1px 1px rgba(58, 56, 66, 0.2),
    0px 4px 8px rgba(58, 56, 66, 0.25);
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 12px;
  background: white;

  .label {
    margin-bottom: 0;
  }

  &__icon {
    flex-grow: 0;
    padding-right: 8px;
    width: 24px;
    height: 24px;
  }

  &--pending &__icon img {
    animation: loadingspin 1000ms infinite ease;

    @keyframes loadingspin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__content {
    flex-grow: 1;
    color: $grey500;

    .text {
      margin-bottom: 4px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding-left: 13px;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}
