@import "../variables.scss";

.status-icon {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  svg {
    width: 100%;
  }

  &--solid {
    $size: 24px;
    width: $size;
    height: $size;
    padding: 6px;
  }

  &--wire {
    $size: 12px;
    width: $size;
    height: $size;
    padding: 6px 0;
    margin: 0 6px;
  }

  &--pending {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 0;
  }

  &--solid {
    &.status-icon--success {
      background: $green;
    }

    &.status-icon--error {
      background: $orange;
    }
  }

  &--wire {
    box-sizing: none;

    &.status-icon--pending {
      padding: 0 6px;
      margin: 0;
      width: 24px;
    }

    &.status-icon--success {
      svg path {
        fill: $green;
      }
    }

    &.status-icon--error {
      svg path {
        fill: $orange;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
