@import "../variables.scss";

.context-menu-wrapper {
  position: relative;
  display: inline-block;
  z-index: 999;
}

.context-menu {
  position: absolute;
  top: calc(100% + 4px);
  width: 160px;
  padding: 8px 0;
  border: 1px solid $grey200;
  border-radius: 12px;
  box-shadow: 0px 14px 30px -16px #1e1c22;
  background: white;

  &--right {
    left: 0;
  }

  &--left {
    right: 0;
  }

  &__item {
    font-size: 14px;
    cursor: normal;

    &:hover {
      background: $grey100;
    }

    &:active {
      background: darken($grey100, 2);
    }
  }

  &__after,
  &__item {
    display: block;
    padding: 8px 16px;
  }
}

.context-menu-button {
  width: 20px;
  height: 32px;
  background: $grey50;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover:not(&--open) {
    background-color: $grey100;
  }

  &:active,
  &:active:not(&--open) {
    background-color: $grey200;
  }

  &--open {
    background-color: $grey300;
  }

  span {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    background-color: $grey700;
    margin: 1.5px 0;
  }
}
