@import "../variables.scss";

.wallet {
  $indicatorBorderSize: 4px;
  $indicatorSize: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid $grey200;

  &.button {
    padding: 7px;
    margin: 0 10px;
  }

  .text {
    margin: 0 8px;
    color: $grey500;
  }

  &__network {
    $color: #3a64f0;
    position: relative;
    text-align: center;
    width: $indicatorSize + $indicatorBorderSize;
    height: $indicatorSize + $indicatorBorderSize;
    border-radius: 100%;
    margin-left: 8px;

    &--hidden {
      background: transparent;
    }

    &:before {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: -8px;
      content: "";
      display: block;
      background-color: $grey200;
      width: 1px;
    }
  }
}
