@import "../variables.scss";

.wallet {
  $indicatorBorderSize: 4px;
  $indicatorSize: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &.button {
    padding: 5px;
    margin: 0 0 0 8px;
  }

  .text {
    margin: 0 8px;
    color: $grey700;
  }

  &__transaction-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: $indicatorSize;
    height: $indicatorSize;
    background-color: $grey100;
    position: relative;
    top: $indicatorBorderSize / 2;
    left: $indicatorBorderSize / 2;

    &--warning {
      background-color: $yellow;
    }
  }

  &__network {
    $color: #3a64f0;
    position: relative;
    text-align: center;
    width: $indicatorSize + $indicatorBorderSize;
    height: $indicatorSize + $indicatorBorderSize;
    border-radius: 100%;
    margin-left: 8px;

    &--hidden {
      background: transparent;
    }

    &:before {
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: -8px;
      content: "";
      display: block;
      background-color: $grey200;
      width: 1px;
    }
  }
}
