@import "../variables";

.OptionCard {
  cursor: pointer;
  background: $grey100;
  padding: 12px 16px;
  border-radius: 12px;
  border: 0.5px solid $grey100;

  &--checked {
    z-index: 1;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px 0.5px rgba(0, 0, 0, 0.1);

    .OptionCard__value {
      background: $grey100;
    }
  }

  &:not(&--checked):hover {
    border: 0.5px solid $grey200;
  }

  &__title,
  &__content {
    margin: 0 !important;
  }

  &__value {
    padding: 4px 8px;
    border-radius: 4px;
    border: 0.5px solid $grey300;
    background: white;
  }

  &__token {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}