.table-cell {
  padding: 10px;

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
    & .skeleton {
      margin-right: auto;
    }
  }
  &--align-right {
    text-align: right;

    & .skeleton {
      margin-left: auto;
    }
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

  & .skeleton:last-of-type {
    margin-bottom: 0;
  }

  .table--condensed &:nth-child(even) {
    text-align: right;
    .button,
    .skeleton {
      margin-left: auto;
    }
  }

  .table--condensed &:nth-child(odd) {
    text-align: left;
  }
}
