@import "../variables.scss";

.table {
  display: flex;
  border: 1px solid $grey200;
  background: white;
  border-radius: 12px;
  padding: 4px 8px;
  flex-direction: column;

  &--noBorder {
    border: none;
    border-radius: 0;
  }

  &--noPadding {
    padding: 0;
  }
}
