@import "../variables.scss";

.table-row {
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;

  &--clickable {
    &:hover {
      background-color: $grey100 !important;
      cursor: pointer;
    }
  }
}
