@import "../variables.scss";

.table-cell {
  padding: 10px 4px;
  box-sizing: border-box;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: clip;
  border-bottom: 1px solid $grey200;

  &--fixed-size {
    width: 1px;
  }

  .table-row--active & {
    background-color: $blue50;
    border-color: $blue200;
  }

  .table-row:last-of-type & {
    border-bottom: 1px solid transparent;
  }

  &--align-center {
    text-align: center;
  }

  &--align-left {
    text-align: left;
    .skeleton {
      margin-right: auto;
    }
  }

  &--align-right {
    text-align: right;
    .skeleton {
      margin-left: auto;
    }
  }

  p {
    color: inherit;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .skeleton:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    padding-left: 24px;
  }

  &:last-of-type {
    padding-right: 24px;
  }
}
