@import "../variables.scss";

.table-row {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  vertical-align: middle;

  &:nth-child(odd) {
    background-color: $grey50;
  }

  &--clickable {
    &:hover {
      background-color: $grey100 !important;
      cursor: pointer;
    }
  }
}
