@import "../variables.scss";

.circle-progress {
  position: relative;
  width: 72px;
  height: 72px;

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: $blue100;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
  }

  svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: $blue600;
  }

  &--complete {
    $completeColor: $green500;

    .circle-progress__label h1 {
      color: $completeColor !important;
    }

    svg circle:nth-child(2) {
      stroke: $completeColor;
    }
  }
}
