@import "../variables.scss";

.Popover {
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 4px);

  .Card {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    &--sticky {
      position: fixed;
      bottom: 10px;
      left: 2.5%;
      width: 95%;
      top: auto;

      &::before {
        content: ' ';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        opacity: 0.5;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        pointer-events: none;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    z-index: 999;
  }

  &--right {
    left: 0;
  }

  &--left {
    right: 0;
  }

  &__icon {
    margin: 0 8px 0 -5px;
  }

  &__item {
    color: $grey600;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;

    &:hover {
      color: $grey800;
      background: $grey200;
    }

    &:active {
      color: $grey900;
      background: $grey300;
    }
  }

  &__after,
  &__item {
    padding: 8px 16px;
  }
}

.Popover__button {
  width: 20px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover:not(&--open) span {
    background: $grey700;
  }

  &:active span,
  &:active:not(&--open) span {
    background-color: $grey700;
  }

  &--open span {
    background-color: $grey700;
  }

  span {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    background-color: $grey400;
    margin: 1.5px 0;
  }
}
