@import "../variables.scss";

.button {
  $iconGutter: 5px;
  $disabledOpacity: 0.4;

  position: relative;
  font-size: 11.2px;
  letter-spacing: -0.02em;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .button-row & {
    margin: 0 10px 0 0;
  }

  .button-row.box--direction-vertical & {
    margin: 0 0 8px 0;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .button-row & {
    &:last-child {
      margin-right: 0;
    }
  }

  @keyframes loadingspin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .button-loading-spinner {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    animation: loadingspin 2s infinite ease;
  }

  &--loading {
    opacity: 1 !important;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      background-color: inherit;
    }
  }

  &--icon-pos-start svg {
    margin-right: $iconGutter;
  }

  &--icon-pos-end svg {
    margin-left: $iconGutter;
  }

  &--inline {
    display: inline-flex;
  }

  &--fluid {
    width: 100%;
    flex: 1 1 0;
  }

  svg {
    height: 12px;
  }

  &[disabled="true"],
  &[disabled],
  &[disabled]:hover,
  &[disabled="true"]:hover {
    opacity: $disabledOpacity;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px $blueBoxShadow;
    border: 1px solid $blue200;
    outline: none;
  }

  &--primary,
  &--floating {
    color: white;
    background-color: $blue100;
    padding: 13px 12px;
    border-radius: 10px;

    .button-loading-spinner {
      path {
        stroke: #d1e2ff;
      }
      circle {
        stroke: #2143d5;
      }
    }

    &:hover:enabled {
      background-color: $blue200;
    }

    &:active:enabled {
      box-shadow: none;
      background-color: $blue300;
    }
  }

  &--secondary,
  &--pill {
    color: black;
    background-color: white;
    padding: 13px 12px;
    border-radius: 10px;
    border-color: $grey200;

    &:hover:enabled {
      background-color: $grey100;
    }

    &:active:enabled {
      box-shadow: none;
      background-color: $grey200;
      border-color: transparent;
    }
  }

  &--rounded {
    padding: 9px 12px;
    border-radius: 16px;
  }

  &--floating {
    border-radius: 20px;
    padding: 13px 20.5px;
    box-shadow: 0px 1px 1px rgba(58, 56, 66, 0.2),
      0px 4px 8px rgba(58, 56, 66, 0.25);
  }

  &--pill {
    padding: 4px 8px;
    border-radius: 16px;

    .button-loading-spinner {
      width: 15px;
      height: 15px;
    }
  }

  &--noLabel {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 0;

    svg {
      margin: 0;
    }
  }

  &--fontSize-large {
    font-size: 14px;

    svg {
      height: 16px;
      margin-right: 8px;
    }
  }
}
