@import "../variables.scss";

.button {
  $iconGutter: 5px;
  $disabledOpacity: 0.5;

  position: relative;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  transition: all 100ms;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 12px 24px;
  min-height: 48px;

  &--noLabel {
    padding: 12px !important;
  }

  &--withIcon:not(.button--noLabel) {
    padding-left: 18px;

    &.button--icon-pos-end {
      padding-left: 24px;
      padding-right: 18px;
    }
  }

  .button-row & {
    margin: 0 10px 0 0;
  }

  .button-row.box--direction-vertical & {
    margin: 0 0 8px 0;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .button-row & {
    &:last-child {
      margin-right: 0;
    }
  }

  .loading-spinner-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &--loading {
    opacity: 1 !important;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      background-color: inherit;
    }
  }

  &--inline {
    display: inline-flex;
  }

  &--fluid {
    width: 100%;
    flex: 1 1 0;
  }

  svg:not(.loading-spinner) {
    margin-right: 4px;
    width: 24px;
    height: 24px;
  }

  &[disabled="true"],
  &[disabled],
  &[disabled]:hover,
  &[disabled="true"]:hover {
    opacity: $disabledOpacity;
  }

  &:focus {
    outline: none;
  }

  &--primary {
    color: white;
    background-color: $blue600;
    border-radius: 10px;
    min-height: 48px;

    svg path {
      fill: white;
    }

    .loading-spinner {
      path {
        fill: none;
        stroke: #d1e2ff;
      }
      circle {
        stroke: #2143d5;
      }
    }

    &:hover:enabled {
      background-color: $blue500;
    }

    &:active:enabled {
      background-color: $blue700;
    }
  }

  &--secondary,
  &--pill {
    color: black;
    background-color: $grey50;
    border-radius: 10px;

    &:hover:enabled {
      background-color: $grey100;
    }

    &:active:enabled {
      background-color: $grey200;
    }
  }

  &--red {
    background-color: $red50;
    color: $red600;
    &:hover:enabled {
      background-color: $red100;
    }
    &:active:enabled {
      background-color: $red200;
    }
    svg path {
      fill: $red600;
    }
    &.button--red[disabled="true"],
    &.button--red[disabled],
    &.button--red[disabled]:hover,
    &.button--red[disabled="true"]:hover {
      color: $red400;
    }
  }

  &--green {
    background-color: $green50;
    color: $green600;
    &:hover:enabled {
      background-color: $green100;
    }
    &:active:enabled {
      background-color: $green200;
    }
    svg path {
      fill: $green600;
    }
    &.button--green[disabled="true"],
    &.button--green[disabled],
    &.button--green[disabled]:hover,
    &.button--green[disabled="true"]:hover {
      color: $green400;
    }
  }

  &--blue {
    background-color: $blue100;
    color: $blue600;
    &:hover:enabled {
      background-color: $blue200;
    }
    &:active:enabled {
      background-color: $blue300;
    }
    svg path {
      fill: $blue600;
    }
    &.button--blue[disabled="true"],
    &.button--blue[disabled],
    &.button--blue[disabled]:hover,
    &.button--blue[disabled="true"]:hover {
      color: $blue400;
    }
  }

  &--pill {
    min-height: unset;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;

    .loading-spinner-wrapper {
      width: 15px;
      height: 15px;
    }
  }

  &--nav {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 12px;

    svg {
      height: 24px !important;
    }

    &:hover:enabled {
      background-color: $grey100;
    }

    &:active:enabled {
      background-color: $grey200;
    }
  }

  &--secondary {
    &[disabled="true"],
    &[disabled],
    &[disabled]:hover,
    &[disabled="true"]:hover {
      opacity: 1;
      color: $grey300;
      svg path {
        fill: $grey300;
      }
    }
  }

  &--small {
    padding: 6px 12px;
    min-height: unset;
  }

  &--polygon {
    color: white;
    background-color: $purple600;
    padding: 14px 24px;
    border-radius: 10px;

    .loading-spinner {
      path {
        stroke: $purple700;
        fill: none;
      }
      circle {
        stroke: $purple100;
      }
    }

    &:hover:enabled {
      background-color: $purple500;
    }

    &:active:enabled {
      background-color: $purple700;
    }
  }

  &--ethereum {
    color: white;
    background-color: black;
    padding: 14px 24px;
    border-radius: 10px;

    .loading-spinner {
      path {
        fill: none;
        stroke: $grey500;
      }
      circle {
        stroke: $grey200;
      }
    }

    &:hover:enabled {
      background-color: $grey500;
    }

    &:active:enabled {
      background-color: $grey700;
    }
  }

  &--lite {
    background-color: transparent;
    color: $grey500;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;

    &.button--loading {
      color: transparent;

      svg:not(.loading-spinner) * {
        fill: transparent;
        stroke: transparent;
      }
    }

    svg polygon,
    svg path {
      fill: $grey500;
    }
  }

  &--packed {
    padding: 6px 16px;
    min-height: 0;
    font-size: 12px;
  }
}
