@import "../variables.scss";

$iconGutter: 0.4em;
$disabledOpacity: 0.5;

.button {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  transition: all 100ms;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 12px 24px;

  &--rounded {
    border-radius: 10px;
  }

  &--noLabel {
    padding: 12px !important;

    svg {
      margin: 0 !important;
    }
  }

  &--withIcon:not(.button--noLabel) {
    padding-left: 18px;

    &.button--icon-pos-start svg:not(.loading-spinner) {
      margin-right: $iconGutter;
    }
    &.button--icon-pos-end {
      padding-left: 24px;
      padding-right: 18px;

      svg:not(.loading-spinner) {
        margin-left: $iconGutter;
      }
    }
  }

  .loading-spinner-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &--loading {
    opacity: 1 !important;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      background-color: inherit;
    }
  }

  &--inline {
    display: inline-flex;
  }

  &--fluid {
    width: 100%;
    flex: 1 1 0;
  }

  &[disabled="true"],
  &[disabled],
  &[disabled]:hover,
  &[disabled="true"]:hover {
    opacity: $disabledOpacity;
  }

  &:focus {
    outline: none;
  }
}
.button--color {
  &-primary {
    color: white;
    background-color: $blue600;

    svg path {
      fill: white;
    }

    &.button--variant {
      &-light {
        background-color: $blue500;

        &:hover:enabled {
          background-color: $blue400;
        }
      }
      &-dark {
        background-color: $blue700;

        &:hover:enabled {
          background-color: $blue600;
        }
      }
    }

    .loading-spinner {
      path {
        fill: none;
        stroke: #d1e2ff;
      }
      circle {
        stroke: #2143d5;
      }
    }

    &:hover:enabled {
      background-color: $blue500;
    }
    &:active:enabled {
      background-color: $blue800;
    }
  }

  &-secondary,
  &-pill {
    color: $grey700;
    background-color: $grey200;

    &.button--variant {
      &-light {
        background-color: white;
        border: 1px solid $grey200;
      }
      &-dark {
        background-color: $grey300;

        &:hover:enabled {
          background-color: $grey200;
        }
      }
    }

    &:hover:enabled {
      background-color: $grey100;
    }
    &:active:enabled {
      background-color: $grey300;
    }
  }

  &-secondary {
    &[disabled="true"],
    &[disabled],
    &[disabled]:hover,
    &[disabled="true"]:hover {
      color: $grey300;
      svg path {
        fill: $grey300;
      }

      &.button--loading {
        background: white;
        border: 1px solid $grey200;
      }
    }
  }

  &-red {
    color: $red600;
    background-color: $red200;

    svg path {
      fill: $red600;
    }

    &.button--variant {
      &-light {
        background-color: $red100;

        &:hover:enabled {
          background-color: $red50;
        }
      }
      &-dark {
        background-color: $red300;

        &:hover:enabled {
          background-color: $red200;
        }
      }
    }

    .loading-spinner {
      path {
        fill: none;
        stroke: $red600;
      }
      circle {
        stroke: $red300;
      }
    }

    &:hover:enabled {
      background-color: $red100;
    }
    &:active:enabled {
      background-color: $red400;
    }
  }
}

.button--size {
  &-small,
  &-regular {
    svg:not(.loading-spinner) {
      width: 18px;
      height: 18px;
    }
  }

  &-thin {
    height: 32px;
    font-size: 14px;
    padding: 0 12px !important;

    .loading-spinner-wrapper,
    svg:not(.loading-spinner) {
      width: 16px;
      height: 16px;
    }
  }

  &-pill {
    height: 28px;
    padding: 0 12px !important;
    font-size: 14px;

    &.button--rounded {
      border-radius: 16px;
    }

    svg:not(.loading-spinner) {
      width: 14px;
      height: 14px;
    }

    .loading-spinner-wrapper {
      width: 15px;
      height: 15px;
    }
  }
  &-small {
    height: 40px;
    font-size: 14px;
  }
  &-regular {
    height: 48px;
  }
  &-large {
    height: 64px;
    font-size: 18px;

    svg:not(.loading-spinner) {
      width: 20px;
      height: 20px;
    }
  }
}