@import "../variables.scss";

.button {
  $iconGutter: 5px;
  $disabledOpacity: 0.4;

  position: relative;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  transition: all 100ms;
  text-decoration: none;

  .button-row & {
    margin: 0 10px 0 0;
  }

  .button-row.box--direction-vertical & {
    margin: 0 0 8px 0;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .button-row & {
    &:last-child {
      margin-right: 0;
    }
  }

  .loading-spinner-wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &--loading {
    opacity: 1 !important;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      background-color: inherit;
    }
  }

  &--icon-pos-start svg {
    margin-right: $iconGutter;
  }

  &--icon-pos-end svg {
    margin-left: $iconGutter;
    margin-right: 0 !important;
  }

  &--inline {
    display: inline-flex;
  }

  &--fluid {
    width: 100%;
    flex: 1 1 0;
  }

  svg:not(.loading-spinner) {
    height: 16px;
    margin-right: 8px;
  }

  &[disabled="true"],
  &[disabled],
  &[disabled]:hover,
  &[disabled="true"]:hover {
    opacity: $disabledOpacity;
  }

  &:focus {
    outline: none;
  }

  &--primary {
    color: white;
    background-color: $blue600;
    padding: 14px 24px;
    border-radius: 10px;

    svg path {
      fill: white;
    }

    .loading-spinner {
      path {
        fill: none;
        stroke: #d1e2ff;
      }
      circle {
        stroke: #2143d5;
      }
    }

    &:hover:enabled {
      background-color: $blue500;
    }

    &:active:enabled {
      background-color: $blue700;
    }
  }

  &--secondary,
  &--pill {
    color: black;
    background-color: $grey50;
    padding: 13px 12px;
    border-radius: 10px;

    &:hover:enabled {
      background-color: $grey100;
    }

    &:active:enabled {
      background-color: $grey200;
    }

    &.button--red {
      background-color: $red50;
      color: $red600;
      &:hover:enabled {
        background-color: $red100;
      }
      &:active:enabled {
        background-color: $red200;
      }
      svg path {
        fill: $red600;
      }
    }

    &.button--green {
      background-color: $green50;
      color: $green600;
      &:hover:enabled {
        background-color: $green100;
      }
      &:active:enabled {
        background-color: $green200;
      }
      svg path {
        fill: $green600;
      }
    }

    &.button--blue {
      background-color: $blue100;
      color: $blue600;
      &:hover:enabled {
        background-color: $blue200;
      }
      &:active:enabled {
        background-color: $blue300;
      }
      svg path {
        fill: $blue600;
      }
    }
  }

  &--pill {
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;

    .loading-spinner-wrapper {
      width: 15px;
      height: 15px;
    }
  }

  &--nav {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 12px;

    &:not(.button--noLabel) {
      padding-right: 16px;
    }

    svg {
      height: 24px !important;
    }

    &:hover:enabled {
      background-color: $grey100;
    }

    &:active:enabled {
      background-color: $grey200;
    }
  }

  &--secondary {
    &[disabled="true"],
    &[disabled],
    &[disabled]:hover,
    &[disabled="true"]:hover {
      opacity: 1;
      color: $grey300;
      svg path {
        fill: $grey300;
      }
    }
  }

  &--small {
    padding: 6px 12px;
  }

  &--polygon {
    color: white;
    background-color: $purple600;
    padding: 14px 24px;
    border-radius: 10px;

    .loading-spinner {
      path {
        stroke: $purple700;
        fill: none;
      }
      circle {
        stroke: $purple100;
      }
    }

    &:hover:enabled {
      background-color: $purple500;
    }

    &:active:enabled {
      background-color: $purple700;
    }
  }

  &--ethereum {
    color: white;
    background-color: black;
    padding: 14px 24px;
    border-radius: 10px;

    .loading-spinner {
      path {
        fill: none;
        stroke: $grey500;
      }
      circle {
        stroke: $grey200;
      }
    }

    &:hover:enabled {
      background-color: $grey500;
    }

    &:active:enabled {
      background-color: $grey700;
    }
  }

  &--lite {
    background-color: transparent;
    color: $grey500;

    svg:not(.loading-spinner) {
      height: 10px;
      margin-right: 6px;
    }

    svg polygon,
    svg path {
      fill: $grey500;
    }
  }
}
