@import "../variables.scss";

.avatar {
  $size: 24px;
  width: $size;
  height: $size;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey50;
  overflow: hidden;
  border: 1px solid $grey100;
  flex-shrink: 0;
  flex-grow: 0;

  img {
    width: $size;
    height: $size;
    object-fit: cover;
  }

  svg {
    width: 70%;
  }
}
