@import "../variables.scss";

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey200;
  overflow: hidden;
  border: 1px solid $grey200;
  flex-shrink: 0;
  flex-grow: 0;

  img {
    width: 100%;
  }
}
