@import "../variables.scss";

.avatar {
  $size: 24px;
  width: $size;
  height: $size;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey50;
  overflow: hidden;
  border: 1px solid $grey100;
  flex-shrink: 0;
  flex-grow: 0;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  svg {
    width: 70%;
  }

  &--icon img {
    padding: 8px;
    box-sizing: border-box;
  }
}
