@import "../variables.scss";

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey50;
  overflow: hidden;
  border: 1px solid $grey100;
  flex-shrink: 0;
  flex-grow: 0;

  img {
    width: 100%;
  }

  svg {
    width: 70%;
  }
}
