@import "../variables";

.DistributionBar {
  width: 100%;
  height: 8px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &__item {
    position: absolute;
    height: 100%;

    &-color {
      @include colors(background);
    }
  }
  &__item:not(:last-of-type) {
    &::after {
      content: ' ';
      display: block;
      height: 100%;
      width: 2px;
      right: -1px;
      background: white;
      position: absolute;
      z-index: 1;
    }
  }
}