@import "../variables.scss";

.stat {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  &__label {
    color: $grey400;
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;

    .label {
      color: inherit;
    }
  }

  &__value {
    color: $grey700;
    margin: 0 0 12px 0;
    width: 100%;
  }

  &--large &__value {
    font-size: 30px;
    line-height: 36px;
  }

  &--medium &__value {
    font-size: 24px;
    line-height: 32px;
  }

  &--small &__value {
    font-size: 18px;
    line-height: 28px;
  }

  &__after {
    width: 100%;
  }

  @include textalign;

  .tooltip svg {
    margin-left: 4px;
    path {
      fill: $grey400;
    }
  }
}
