@import "../variables.scss";

$gutter: 28px;

.stats {
  background-color: $grey100;
  border: 1px solid $grey200;
  border-radius: 20px;
  padding: 14px 14px 14px 20px;
  box-sizing: border-box;

  & .button-row {
    margin-left: auto;
  }

  & .stat {
    margin-right: $gutter;
    flex-grow: 1;
    flex-shrink: 0;

    .button {
      display: inline-flex;
      margin: 0 auto;
    }

    &:not(:last-child):after {
      content: "";
      display: block;
      width: 1px;
      height: 40px;
      background-color: $grey200;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  &--condensed {
    display: block !important;

    .stats__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .stat {
      text-align: center;
      justify-content: center;
      margin-bottom: 24px;
      margin-right: $gutter * 0.3;
      padding-right: $gutter * 0.3;
      &:after {
        display: none !important;
      }
    }
  }

  &--condensedSm {
    .stat {
      margin-right: 10%;
      padding-right: 10%;
    }

    .stats__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.stat {
  position: relative;
  display: inline-block;
  padding-right: $gutter;
  margin-right: 0;
  box-sizing: border-box;

  &__label {
    color: $grey500;
    margin: 0 0 12px 0;
    width: 100%;
    white-space: nowrap;
  }

  &__value {
    color: $grey700;
    margin: 0 0 12px 0;
    width: 100%;

    .dai path {
      fill: $grey700 !important;
    }
  }

  &__caption {
    margin: 0 !important;
    width: 100%;

    .bar {
      width: 100%;
    }
  }
}
