@import "../variables.scss";

.toggle-menu {
  background: $grey100;
  border-radius: 16px;
  padding: 4px 2px;
  box-sizing: border-box;

  &--secondary {
    background: transparent;
  }

  &.box {
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  &--fluid {
    width: 100%;
  }

  &__item {
    margin: 0 2px;
    padding: 8px 21px;
    background: transparent;
    border-radius: 12px;
    font-size: 16px !important;
    line-height: 24px !important;
    transition: all 100ms;
    font: inherit;
    color: $grey500;
    cursor: pointer;

    .toggle-menu--fluid & {
      flex-grow: 1;
    }

    &--active {
      background: #ffffff;

      .toggle-menu--secondary & {
        background: $blue600;
        color: white;
      }
    }

    &:not(.toggle-menu__item--disabled):not(.toggle-menu__item--active):hover {
      color: $grey600;
    }

    &:not(.toggle-menu__item--disabled):active {
      color: $grey600;
      background: $grey200;
    }

    &[disabled],
    &[disabled="true"] {
      color: $grey400;
    }
  }
}
