@import "../variables.scss";

.toggle-menu {
  border: 1px solid $grey200;
  background: $grey100;
  border-radius: 12px;
  padding: 4px 2px;
  display: inline-flex;

  &__item {
    margin: 0 2px;
    padding: 8px 12px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 9px;
    transition: all 100ms;
    font-size: 11.2px;

    &--active {
      border: 1px solid $grey200;
      background: #ffffff;
    }

    &:enabled:hover {
      border: 1px solid $grey200;
      background: none;
      color: #565461;
    }

    &:enabled:active {
      color: #565461;
      background: #e1e0e6;
    }

    &:not(:enabled) {
      color: #a8a6b3;
    }
  }

  &--nav {
    border: 0px;
    background: none;

    .toggle-menu__item {
      font-size: 17.5px;
    }
  }
}
