@import "../variables.scss";

.toggle-menu {
  border: 1px solid $grey200;
  background: $grey100;
  border-radius: 12px;
  padding: 4px 2px;

  &.box {
    display: inline-flex;
  }

  &__item {
    margin: 0 2px 0 0;
    padding: 8px 12px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 9px;
    transition: all 100ms;
    font: inherit;
    font-size: 11.2px;
    color: $grey500;
    cursor: pointer;

    &:focus {
      outline: none !important;
    }

    &--active {
      border: 1px solid $grey200;
      background: #ffffff;
    }

    &:not(.toggle-menu__item--disabled):hover {
      border: 1px solid $grey200;
      background: none;
      color: $grey600;
    }

    &:not(.toggle-menu__item--disabled):active {
      color: $grey600;
      background: $grey200;
    }

    &[disabled],
    &[disabled="true"] {
      color: $grey400;
    }
  }

  &--nav {
    border: 0px;
    background: none;

    .toggle-menu__item {
      font-size: 17.5px;
      padding: 8px 16px;
    }
  }
}
