@import "../variables.scss";

.toggle-menu {
  background: $grey100;
  border-radius: 12px;
  padding: 2px;

  &.box {
    display: inline-flex;
    flex-wrap: wrap;
  }

  &--fluid {
    width: 100%;
  }

  &__item {
    margin: 4px 2px;
    padding: 10px 14px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 8px;
    transition: all 100ms;
    font: inherit;
    font-size: 11.2px;
    color: $grey500;
    cursor: pointer;

    .toggle-menu--fluid & {
      flex-grow: 1;
    }

    &:focus {
      outline: none !important;
    }

    &--active {
      border: 1px solid $grey200;
      background: #ffffff;
    }

    &:not(.toggle-menu__item--disabled):hover {
      border: 1px solid $grey200;
      background: none;
      color: $grey600;
    }

    &:not(.toggle-menu__item--disabled):active {
      color: $grey600;
      background: $grey200;
    }

    &[disabled],
    &[disabled="true"] {
      color: $grey400;
    }
  }

  &--nav {
    border: 0px;
    background: none;

    .toggle-menu__item {
      font-size: 17.5px;
      padding: 7px 16px;
      margin-right: 10px;
      line-height: 24px;
    }
  }
}
