@import "./reset.scss";
@import "./utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

body {
  font-family: "Inter", sans-serif;

  * {
    -webkit-font-smoothing: antialiased
  }
}

button {
  font-family: "Inter", sans-serif;
}

.externalinline_svg__external-inline {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}

.flip {
  transform: scaleX(-1);
}
