@import "./variables.scss";

.storybook-icon-row {
  svg {
    height: 15px;
    margin-right: 10px;
  }
}
// blues
.blue100 {
  background: $blue100;
}

.blue200 {
  background: $blue200;
}

.blue300 {
  background: $blue300;
}

.blueBoxShadow {
  background: $blueBoxShadow;
}

// greys
.grey100 {
  background: $grey100;
}

.grey200 {
  background: $grey200;
}

.grey300 {
  background: $grey300;
}

.grey400 {
  background: $grey400;
}

.grey500 {
  background: $grey500;
}

.grey600 {
  background: $grey600;
}

.grey700 {
  background: $grey700;
}
