@import "./variables.scss";

// blues
.bg-blue100 {
  background: $blue100;
}

.bg-blue200 {
  background: $blue200;
}

.bg-blue300 {
  background: $blue300;
}

.bg-blueBoxShadow {
  background: $blueBoxShadow;
}

// greys
.bg-grey100 {
  background: $grey100;
}

.bg-grey200 {
  background: $grey200;
}

.bg-grey300 {
  background: $grey300;
}

.bg-grey400 {
  background: $grey400;
}

.bg-grey500 {
  background: $grey500;
}

.bg-grey600 {
  background: $grey600;
}

.bg-grey700 {
  background: $grey700;
}

.bg-green {
  background: $green;
}

.bg-green100 {
  background: $green100;
}

.bg-orange {
  background: $orange;
}

.bg-purple {
  background: $purple;
}

.bg-yellow {
  background: $yellow;
}

@for $i from 6 through 30 {
  .hide-lt-#{$i * 50} {
    @media screen and (max-width: #{$i * 50}px) {
      display: none !important;
    }
  }

  .hide-gt-#{$i * 50} {
    @media screen and (min-width: #{$i * 50}px) {
      display: none !important;
    }
  }
}
