// blues
$blue100: #3a64f0;
$blue200: #2143d5;
$blue300: #112a99;
$blueBoxShadow: #a7c4ff;
// greys
$grey100: #f4f4f6;
$grey200: #e1e0e6;
$grey300: #c4c2cc;
$grey400: #a8a6b3;
$grey500: #726f7e;
$grey600: #565461;
$grey700: #3a3842;
