@use "sass:map";

// blues
$blue100: #3a64f0;
$blue200: #2143d5;
$blue300: #112a99;
$blueBoxShadow: #a7c4ff;
// greys
$grey100: #f4f4f6;
$grey200: #e1e0e6;
$grey300: #c4c2cc;
$grey400: #a8a6b3;
$grey500: #726f7e;
$grey600: #565461;
$grey700: #3a3842;
// colors
$green: #52bb82;
$green100: #2f9f63;
$orange: #e09a0e;
$purple: #8b7afd;
$yellow: #f3bb4a;

@mixin greys {
  &--grey100 {
    color: $grey100;
  }
  &--grey200 {
    color: $grey200;
  }
  &--grey300 {
    color: $grey300;
  }
  &--grey400 {
    color: $grey400;
  }
  &--grey500 {
    color: $grey500;
  }
  &--grey600 {
    color: $grey600;
  }
  &--grey700 {
    color: $grey700;
  }
}

$colors: (
  blue: #3a64f0,
  green: #2f9f63,
  white: #ffffff,
  red: #c84042,
  grey: #726f7e,
  black: #000000,
  orange: #c77b00,
);

@mixin colors {
  @each $name, $hex in $colors {
    &--#{$name} {
      color: $hex;
    }
  }
}
