@use "sass:map";

// blues
$blue50: #eff6ff;
$blue100: #dbeafe;
$blue200: #bfdbfe;
$blue300: #93c5fd;
$blue400: #60a5fa;
$blue500: #3b82f6;
$blue600: #2563eb;
$blue700: #1d4ed8;
$blue800: #1e40af;
$blue900: #1e3a8a;
// green
$green50: #dcfce7;
$green100: #dcfce7;
$green200: #bbf7d0;
$green300: #86efac;
$green400: #4ade80;
$green500: #22c55e;
$green600: #16a34a;
$green700: #15803d;
$green800: #166534;
$green900: #14532d;
// red
$red50: #fef2f2;
$red100: #fee2e2;
$red200: #fca5a5;
$red400: #f87171;
$red500: #ef4444;
$red600: #dc2626;
// purple
$purple100: #f3e8ff;
$purple500: lighten(#9333ea, 10);
$purple600: #9333ea;
$purple700: darken(#9333ea, 10);
// amber
$amber100: #fef3c7;
$amber200: #fde68a;
$amber300: #fcd34d;
$amber400: #fbbf24;
$amber500: #f59e0b;
$amber600: #d97706;
$amber700: #b45309;
$amber800: #92400e;
// greys
$grey50: #fafaf9;
$grey100: #f5f5f4;
$grey200: #e7e5e4;
$grey300: #d6d3d1;
$grey400: #a8a29e;
$grey500: #78716c;
$grey600: #57534e;
$grey700: #44403c;
$grey800: #292524;
// oranges
$orange600: #ea580c;
$orange800: #9a3412;
// violet
$violet400: #a78bfa;

$shadesOfGrey: (
  "grey50": $grey50,
  "grey100": $grey100,
  "grey200": $grey200,
  "grey300": $grey300,
  "grey400": $grey400,
  "grey500": $grey500,
  "grey600": $grey600,
  "grey700": $grey700,
  "grey800": $grey800,
);

@mixin greys {
  @each $name, $color in $shadesOfGrey {
    &--#{$name} {
      color: $color !important;

      .external-inline path,
      .externalinline_svg__external-inline path {
        fill: $color !important;
      }
    }
  }
}

@mixin bgGreys {
  @each $name, $color in $shadesOfGrey {
    &--#{$name} {
      background-color: $color !important;
    }
  }
}

$colors: (
  "white": white,
  // blues
  "blue50": $blue50,
  "blue100": $blue100,
  "blue200": $blue200,
  "blue300": $blue300,
  "blue400": $blue400,
  "blue500": $blue500,
  "blue600": $blue600,
  "blue700": $blue700,
  // green
  "green100": $green100,
  "green200": $green200,
  "green300": $green300,
  "green500": $green500,
  "green600": $green600,
  // red
  "red50": $red50,
  "red100": $red100,
  "red200": $red200,
  "red400": $red400,
  "red500": $red500,
  "red600": $red600,
  // purple
  "purple100": $purple100,
  "purple600": $purple600,
  // amber
  "amber100": $amber100,
  "amber200": $amber200,
  "amber300": $amber300,
  "amber400": $amber400,
  "amber500": $amber500,
  "amber600": $amber600,
  "amber700": $amber700,
  "amber800": $amber800,
);

@mixin colors {
  @each $name, $hex in $colors {
    &--#{$name} {
      color: $hex !important;

      .external-inline path,
      .externalinline_svg__external-inline path {
        fill: $hex !important;
      }
    }
  }
}

@mixin weights {
  &--weight-regular {
    font-weight: 400;
  }

  &--weight-medium {
    font-weight: 500;
  }
  &--weight-heavy {
    font-weight: 700;
  }
}

@mixin textalign {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

$breakpoint-xxs: 580px;
$breakpoint-xs: 767px;
$breakpoint-s: 910px;
