@import "../variables";

.AvatarBadgeRow {
  height: 28px;
  padding: 2px;
  background: $grey50;
  border: 0.5px solid $grey300;
  display: inline-flex !important;
  border-radius: 14px;

  .avatar {
    box-sizing: border-box;

    &:not(:first-child) {
      margin-left: -8px;
    }
  }
}