@import "../variables.scss";

.nav-item {
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid transparent;
  color: $grey500;

  &--active {
    border-color: $grey100;
    color: $grey800;
  }

  &:hover {
    border-color: $grey100;
  }

  &:active {
    border-color: $grey200;
  }

  @media screen and (max-width: $breakpoint-xs) {
    display: none;
  }
}
