@import "../variables.scss";

.nav-item {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 12px;
  color: $grey500;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 6px 0 0 8px;
  }

  &--active {
    background-color: $grey100;
    border: 1px solid $grey200;
    color: #1e1c22;
  }

  &__label {
    font-size: 17.5px;
  }

  &__description {
    margin-top: 8px;
    margin-bottom: 0;
  }
}
