@import "../variables.scss";

.nav-item {
  cursor: pointer;
  padding: 8px 16px;
  background-color: white;
  font-size: 18px;
  line-height: 28px;
  border-radius: 13px;
  margin: 0 6px;
  color: $grey500;

  &--active {
    background-color: $grey100;
    color: $grey800;
  }

  &:hover {
    background-color: $grey100;
  }

  &:active {
    background-color: $grey200;
  }

  @media screen and (max-width: $breakpoint-xs) {
    display: none;
  }
}
