.nav-item {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 12px 16px;
  border-radius: 12px;
  color: #726f7e;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 8px;
  }

  &--active {
    background-color: #f4f4f6;
    border: 1px solid #e1e0e6;
    color: #1e1c22;
  }

  &__label {
    font-size: 17.5px;
  }

  &__description {
    margin-top: 8px;
  }
}
