.nav {
  box-shadow: inset -1px 0px 0px #e1e0e6;
  padding: 0 24px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;

  &__logo {
    padding: 34px 0 40px 0;
    display: flex;
    justify-content: center;

    .nav--mobile & {
      display: none;
    }
  }

  &--mobile {
    flex-direction: row;
    box-shadow: unset;
  }
}
