@import "../variables.scss";

.nav {
  padding: 0 24px 0 0;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  align-items: center;

  @media screen and (max-width: $breakpoint-s) {
    .union-logo-mobile {
      display: block;
    }
    .union-logo {
      display: none;
    }
  }

  @media screen and (min-width: $breakpoint-s) {
    .union-logo-mobile {
      display: none;
    }
    .union-logo {
      display: block;
    }
  }
}
