@import "../variables.scss";

.NumericalBlock {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;

  .Tooltip {
    margin-left: 4px;
  }

  &__title {
    color: $grey400;
    width: 100%;
    white-space: nowrap;

    @media screen and (max-width: $breakpoint-xs) {
      white-space: normal;
    }
  }
  &__value {
    color: $grey800;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__token {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
  &__subtitle {
    color: $grey500;
  }

  &__size {
    &-large,
    &-regular,
    &-small {
      .NumericalBlock__title {
        font-size: 16px;
        line-height: 24px;
      }
      .NumericalBlock__subtitle {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-large {
      .NumericalBlock__value {
        font-size: 36px;
        line-height: 40px;
      }
    }

    &-regular {
      .NumericalBlock__value {
        font-size: 30px;
        line-height: 36px;
      }
    }

    &-small {
      .NumericalBlock__title {
        font-size: 14px;
        line-height: 20px;
      }
      .NumericalBlock__value {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &-x-small {
      text-align: left;

      .NumericalBlock__title {
        font-size: 16px;
        line-height: 24px;
      }
      .NumericalBlock__value {
        font-size: 18px;
        line-height: 28px;
        justify-content: flex-start;
      }
      .NumericalBlock__subtitle {
        display: none;
      }
    }
  }
}
