@import "../variables.scss";

.label {
  margin: 0 0 8px 0;
  color: $grey500;

  &--primary {
    font-size: 14px;
    line-height: 20px;

    @media screen and (max-width: $breakpoint-xs) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &--small {
    font-size: 12px;
    line-height: 16px;

    @media screen and (max-width: $breakpoint-xs) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  @include greys;
  @include colors;
  @include weights;
}
