@import "../variables.scss";

.label {
  margin: 0 0 8px 0;
  color: $grey500;

  &--primary {
    font-size: 14px;
    line-height: 20px;
  }

  &--small {
    font-size: 12px;
    line-height: 16px;
  }

  @include greys;
  @include colors;
  @include weights;
}
