@import "../variables.scss";

.networkSwitcher__buttonContainer {
  width: 130px;

  @media screen and (max-width: $breakpoint-xxs) {
    width: auto;

    span {
      display: none;
    }

    .button.networkSwitcher {
      padding: 0 4px;

      .avatar {
        margin-right: 0;
      }
    }
  }
}

.button.networkSwitcher {
  height: 35.5px;
  min-height: 0;
  padding: 0 8px 0 4px;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid transparent;

  .wireCheck,
  .wireCheck_svg__wireCheck {
    margin-left: auto;
  }

  .context-menu & {
    margin: 0 4px 4px 4px;
    width: calc(100% - 8px);
  }

  &--arbitrum {
    background-color: $blue50;
    color: $blue500;

    &:hover {
      background-color: $blue100;
      border: 1px solid $blue200;
    }

    .wireCheck path,
    .wireCheck_svg__wireCheck path {
      fill: $blue500;
    }
  }

  &--ethereum {
    background-color: $grey50;
    color: $grey500;

    &:hover {
      background-color: $grey100;
      border: 1px solid $grey200;
    }

    .wireCheck path,
    .wireCheck_svg__wireCheck path {
      fill: $grey500;
    }
  }

  &--kovan {
    background-color: #f8fafc;
    color: #64748b;

    &:hover {
      background-color: #f1f5f9;
      border: 1px solid #e2e8f0;
    }

    .wireCheck path,
    .wireCheck_svg__wireCheck path {
      fill: #64748b;
    }
  }

  .avatar {
    margin-right: 4px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}
