@import "../variables.scss";

.button.navNetworkSelect {
  height: 35.5px;
  min-height: 0;
  padding: 0 8px 0 4px;
  margin: 0 4px 4px 4px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid transparent;

  &--arbitrum {
    background-color: $blue50;

    &:hover {
      background-color: $blue100;
      border: 1px solid $blue200;
    }
  }

  &--ethereum {
    background-color: $grey50;

    &:hover {
      background-color: $grey100;
      border: 1px solid $grey200;
    }
  }

  &--kovan {
    background-color: #f8fafc;

    &:hover {
      background-color: #f1f5f9;
      border: 1px solid #e2e8f0;
    }
  }

  .avatar {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}
