@import "../variables.scss";

$gutter: 8px;

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;

  &__inner {
    display: flex;
    width: 100%;
  }
}

.input {
  $fontSize: 16px;
  flex: 1 1 0;
  position: relative;
  display: flex;
  align-items: center;

  .input-row & {
    margin: 0 10px 0 0;
    width: 100%;
  }

  &__suffix {
    position: absolute;
    right: 0;
    padding: 0 16px 0 12px;
    height: 48px;
    display: flex;
    align-items: center;

    .dai {
      margin: 0;
    }
  }

  &--disabled ::-webkit-input-placeholder {
    color: $grey200 !important;
  }

  &--disabled input {
    border-color: $grey100 !important;
  }

  input {
    width: 100%;
    font-size: $fontSize;
    padding: 0 12px;
    border: 1px solid $grey100;
    border-radius: 12px;
    outline: none;
    height: 48px;
    background: $grey50;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color: $grey500;
    }

    &:hover:enable {
      height: 40px;
      border: 2px solid $grey300;
    }

    &:focus ~ .input__suffix {
      height: 36px;
    }

    &:focus {
      border: 2px solid $blue500;
      box-shadow: 0 0 0 2px $blue200;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }

    .input-wrapper--error & {
      border: 2px solid $red600;
      background-color: $red50;

      &:focus {
        box-shadow: 0 0 0 2px $red200;
      }
    }
  }
}

.input-label,
.input-caption {
  padding-left: $gutter;
  display: block;
}

.input-label {
  margin-bottom: 4px;
}

.input-caption {
  margin-top: 4px;

  &--clickable.label {
    color: $blue600;

    &:hover {
      text-decoration: underline;
      cursor: default;
    }
  }
  .input-wrapper--error & {
    color: $red600;
  }
}
