@import "../variables.scss";

$gutter: 12px;

.input-wrapper {
  &__inner {
    display: flex;
    width: 100%;
  }
}

.input {
  $fontSize: 14px;

  position: relative;
  display: flex;
  align-items: center;
  width: 235px;

  .input-row & {
    margin: 0 10px 0 0;
  }

  &__placeholder {
    position: absolute;
    left: $gutter;
    color: $grey400;
    pointer-events: none;
    font-size: $fontSize;

    .input--disabled & {
      color: $grey300;
    }

    .input--has-value & {
      display: none;
    }
  }

  &__suffix {
    position: absolute;
    right: 0;
    padding: 0 16px 0 12px;
    height: 40px;
    font-size: 11.2px;
    display: flex;
    color: $grey600;
    align-items: center;
    border-left: 1px solid $grey200;
  }

  &__max-button {
    position: absolute;
    right: $gutter;
    background: $grey100;
    color: $grey500;
    border-radius: 6px;
    border: 1px solid $grey200;
    padding: 4px 8px;

    .input--disabled & {
      color: $grey300;
      background: white;
    }
  }

  input {
    width: 100%;
    font-size: $fontSize;
    padding: 0 $gutter;
    border: 1px solid $grey200;
    border-radius: 12px;
    outline: none;
    height: 42px;
    background: white;
    box-sizing: border-box;

    &:hover:enable {
      height: 40px;
      border: 2px solid $grey300;
    }

    &:hover:enable + .input__placeholder {
      color: $grey500;
    }

    &:focus + .input__placeholder {
      display: none;
    }

    &:focus ~ .input__suffix {
      height: 36px;
    }

    &:focus {
      border: 2px solid $blue100;
      box-shadow: 0px 0px 0px 2px $blueBoxShadow;
    }
  }
}

.input-label,
.input-caption {
  padding-left: $gutter;
  display: block;
}

.input-label {
  font-size: 13px;
  margin-bottom: 4px;
}

.input-caption {
  margin-top: 4px;
  color: $blue100;
  font-size: 11.2px;
}
