@import "../variables.scss";

.badge {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;

  &--blue {
    color: $blue600;
    background: $blue100;
  }

  &--purple {
    color: $purple600;
    background: $purple100;
  }

  &--green {
    color: $green600;
    background: $green100;
  }

  &--yellow {
    color: $amber600;
    background: $amber100;
  }

  &--red {
    color: $red600;
    background: $red100;
  }

  &--grey {
    color: $grey600;
    background: $grey100;
  }
}
