@import "../variables.scss";

.Layout {
  min-height: 100%;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  &__header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0.5px solid $grey200;
    background: $grey50;
  }

  &__main {
    width: 100%;
  }

  &__columned {
    width: 95%;
    max-width: 988px;
    margin: 0 auto;
  }

  &__columned &__columned {
    width: 100%;
  }
}
