@import "../variables.scss";

.layout {
  width: 95%;
  min-height: 100%;
  max-width: 920px;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint-xxs) {
    width: 100%;
  }
}

.layout-header {
  padding: 28px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.layout-main {
  width: 100%;
}
